@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// GRID
@mixin grid-col-width($col-num) {
  @if $col-num == 1 {
    width: calc((100% - #{$gutter-horizantal}) / #{$col-num});
  } @else {
    width: calc((100% - (#{$col-num} - 1) * #{$gutter-horizantal}) / #{$col-num});
  }
}

@mixin grid-col-width-span($col-num) {
  width: calc(2 * ((100% - (#{$col-num} - 1) * #{$gutter-horizantal}) / #{$col-num}) + #{$gutter-horizantal});
}
